html {
	height: 90%;
}

body {
	height: 100%;
}

.register_form {
	margin-top: 50px;
	padding: 20px;
	border: 1px solid black;
}

.chatbox {
	margin-top: 20px;
	height: 100%;
}

.chatbox #chat_panel {
	height: 100%;
}

.chatbox #msg_input {
	height: 20%;
	overflow: auto;
}

.chatbox #msg_output {
	height: 78%;
	margin-bottom: 2%;
	overflow: auto;
}

.chatbox #user_list {
	overflow: auto;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.chatbox .user {
	margin: 5px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.chat_message {
	border-bottom: 1px solid #ccc;
}

.chat_time {
	font-weight: bold;
	float: right;
}

.chat_name {
	font-family: sans-serif;
	float: left;
	font-size: 16px;
}

.chat_content {
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
	overflow-wrap: break-word;
}